<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faruq.educahomework">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Day1Activity" />
        <activity android:name=".Day2Activity" />
        <activity android:name=".activity_day3" />
        <activity android:name=".Day2RegisterActivity" />
        <activity
            android:name=".Day3DrawerActivity"
            android:label="@string/title_activity_day3_drawer"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>